services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    working_dir: /var/www/app
    volumes:
      - ./app:/var/www/app
      # ★パッケージをコンテナ内にマウント
      - ../laravel-audit-diff:/packages/laravel-audit-diff
    depends_on:
      - db

  web:
    image: nginx:1.25-alpine
    ports:
      - "8080:80"
    volumes:
      - ./app:/var/www/app
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  db:
    image: postgres:16
    environment:
      POSTGRES_DB: demo
      POSTGRES_USER: demo
      POSTGRES_PASSWORD: demo
    ports:
      - "54321:5432"
    volumes:
      - dbdata:/var/lib/postgresql/data

volumes:
  dbdata:
